/* ------------------------- */
/* POPUP */
/* ------------------------- */

.btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.btn-cerrar-popup:hover {
	color: #000;
}

.titulo3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 50px;
}

.fila-input {
    margin-bottom: 8%;
}


.popupform .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.popupform .btn-submit:hover {
	background: rgba(94,125,227, .9);
}

.btn-submit {
    margin-top: 10%;
}

hr.faded {
    clear: both; 
    float: none; 
    width: 100%; 
    height: 1px;
    margin-top: 20%;
    border: none; 
    background: #ddd;
  }

#caja1{
    margin-left: 4%;
}

#caja2{
    margin-left: 9%;
}

#caja3{
    margin-left: 0.2%;
}