<app-header></app-header>
<div id="CartasDeLocal">
    <h1 class="Titulo">
      Carta del Establecimiento
    </h1>  
    <div id="Carta">
      <table id="Italiana" class="tablaProductos">
        <h3 class= "tituloCarta">{{(Seleccion.nombre)}}</h3>
        <tr class="atributosCarta">
          <td>Nombre del plato</td>
          <td>Precio</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Pizza Margarita</td>
          <td>10€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Pizza Bianca</td>
          <td>13.5€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Pizza Siciliana</td>
          <td>11.5€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Pizza Napoletana</td>
          <td>11€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Pizza Capricciosa</td>
          <td>11.5€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Pizza Viennesse</td>
          <td>12.5€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Rabioli al Pomodoro i balistico</td>
          <td>12.9€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Spaghetti alla carbonara l'originale</td>
          <td>15.4€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Spaghetti al pomodoro y basilico</td>
          <td>12.4€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Refrescos</td>
          <td>2€</td>
        </tr>
      </table>
      <table id="Española" class="tablaProductos">
        <h3 class= "tituloCarta">{{(Seleccion.nombre)}}</h3>
        <tr class="atributosCarta">
          <td>Nombre del plato</td>
          <td>Precio</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Pincho de Tortilla</td>
          <td>3€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Tapa de Pulpo a la Gallega</td>
          <td>12€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Huevos Rotos con jamón</td>
          <td>14€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Oreja a la Plancha</td>
          <td>8€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Tapa de Pulpo a la Gallega</td>
          <td>12€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Tabla de ibéricos</td>
          <td>20€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Tapa de Pulpo a la Gallega</td>
          <td>12€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Navajas Gallegas</td>
          <td>14€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Refrescos</td>
          <td>2.5€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Botellin cerveza</td>
          <td>1.5€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Cubo de botellines (5 botellies)</td>
          <td>5€</td>
        </tr>
        <hr size=1px color=white>
      </table>
      <table id="Mediterranea" class="tablaProductos">
        <h3 class= "tituloCarta">{{(Seleccion.nombre)}}</h3>
        <tr class="atributosCarta">
          <td>Nombre del plato</td>
          <td>Precio</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Parrillada de verduras</td>
          <td>7.5€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Sepia a la parrilla con salsa verde</td>
          <td>9.9€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Ensalada rulo de cabra</td>
          <td>7.3€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Ensalada de foie, mézclum, cherry, jamón y frutas del bosque</td>
          <td>9.7€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Parrillada de verduras</td>
          <td>7.5€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Ensalada césar</td>
          <td>7.3€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Entrecot de buey trinchado (250g)</td>
          <td>12.9€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Parrillada de carnes</td>
          <td>15€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Refrescos</td>
          <td>1.8€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Botellin cerveza</td>
          <td>1.2€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Jarra de cerveza</td>
          <td>2€</td>
        </tr>
        <hr size=1px color=white>
      </table>
      <table id="Japonesa" class="tablaProductos">
        <h3 class= "tituloCarta">{{(Seleccion.nombre)}}</h3>
        <tr class="atributosCarta">
          <td>Nombre del plato</td>
          <td>Precio</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Gyoza de Wagyu</td>
          <td>8€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Tartar de toro</td>
          <td>22€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Tartar de Salmón</td>
          <td>16€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Usuzukury de Lubina</td>
          <td>16.5€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Sashimi variado</td>
          <td>19€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Sake Sashimi</td>
          <td>10.5€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Hosomaki de Lubina (6 piezas)</td>
          <td>6.5€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Refrescos</td>
          <td>2€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Taza de Sake</td>
          <td>3€</td>
        </tr>
        <hr size=1px color=white>
      </table>
      <table id="Chilena" class="tablaProductos">
        <h3 class= "tituloCarta">{{(Seleccion.nombre)}}</h3>
        <tr class="atributosCarta">
          <td>Nombre del plato</td>
          <td>Precio</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Sándwitch Barros Luco</td>
          <td>9€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Sándwitch churrasco italiano</td>
          <td>9€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Hamburguesa Como Cabra</td>
          <td>10.4€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Hamburguesa a lo Pobre</td>
          <td>10.9€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Hot dog Italiano</td>
          <td>6€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Hot dog Especial</td>
          <td>4.5€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Empanadilla de queso</td>
          <td>3€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Empanadilla Vegetariana</td>
          <td>5€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Palta Reina</td>
          <td>12€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Refrescos</td>
          <td>2€</td>
        </tr>
        <hr size=1px color=white>
      </table>
      <table id="Argentina" class="tablaProductos">
        <h3 class= "tituloCarta">{{(Seleccion.nombre)}}</h3>
        <tr class="atributosCarta">
          <td>Nombre del plato</td>
          <td>Precio</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Morcilla de cebolla</td>
          <td>6€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Chorizo rueda Tacarero</td>
          <td>7€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Entraña (300g)</td>
          <td>22€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Ojo de bife (Lomo alto 300 g)</td>
          <td>28€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Batata al rescoldo quemada con azúcar de caña</td>
          <td>6€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Humita con Chala y cebolla de Verdeo</td>
          <td>8.5€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Ensalada tibia de cogollos con palta y pimientos de Padrón</td>
          <td>12.5€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Refrescos</td>
          <td>2.5€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Vino Trumpeter Chardonnay</td>
          <td>17€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Vino Mendoza San Telmo</td>
          <td>18€</td>
        </tr>
      <hr size=1px color=white>
      </table>
      <table id="Comida-rápida" class="tablaProductos">
        <h3 class= "tituloCarta">{{(Seleccion.nombre)}}</h3>
        <tr class="atributosCarta">
          <td>Nombre del plato</td>
          <td>Precio</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Kentucky Fries Cheddar Bacon</td>
          <td>3.99€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>2 Tiras de Pechuga</td>
          <td>2.99€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Emmental Bites</td>
          <td>2.99€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Doble Krunch Burger</td>
          <td>3.99€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Doble BBC Burger</td>
          <td>6.99€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Twister Wrap</td>
          <td>4.99€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Menu Twister Wrap</td>
          <td>7.99€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Menu Doble BBC Burger</td>
          <td>8.99€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Menu Original Doble Cheddar Burger</td>
          <td>8.99€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Kentucky Fries Cheddar Bacon</td>
          <td>3.99€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Super Menu</td>
          <td>9.99€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Bebidas</td>
          <td>2.49€</td>
        </tr>
        <hr size=1px color=white>
      </table>
      <table id="Postres" class="tablaProductos">
        <h3 class= "tituloCarta">{{(Seleccion.nombre)}}</h3>
        <tr class="atributosCarta">
          <td>Nombre del plato</td>
          <td>Precio</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Tarta de Zanahoria</td>
          <td>24€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Tarta de Oreo</td>
          <td>24€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Tarta de Queso</td>
          <td>24€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Tarta de Chocolate</td>
          <td>24€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Tarta de Cafe</td>
          <td>24€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Tarta de Coco</td>
          <td>24€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Tarta de Tres Leches</td>
          <td>26€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Tarta Red Velvet</td>
          <td>26€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Tarta Negra</td>
          <td>24€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Brownie</td>
          <td>26€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Tarta de Piña</td>
          <td>30€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Tarra de helado (3 bolas)</td>
          <td>16€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Cafe bombón</td>
          <td>5€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Cafe solo/con leche/cortado</td>
          <td>2€</td>
        </tr>
        <hr size=1px color=white>
      </table>
      <table id="Inglesa" class="tablaProductos">
        <h3 class= "tituloCarta">{{(Seleccion.nombre)}}</h3>
        <tr class="atributosCarta">
          <td>Nombre del plato</td>
          <td>Precio</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Chilli Fries(patatas con chili) </td>
          <td>4.8€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Alitas de pollo </td>
          <td>5.9€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Dingo wings </td>
          <td>9.9€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Fingers de pollo </td>
          <td>5.9€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Spicy BBQ Cheesteak </td>
          <td>10.9€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Swiss BBQ Melt</td>
          <td>9.9€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Byron Bay(Apta para veganos)</td>
          <td>7.9€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Red Roo Burger </td>
          <td>12.4€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Black'N' CHilli </td>
          <td>13.9€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Nacho Macho Burger </td>
          <td>9.9€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Black'N' CHilli </td>
          <td>13.9€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Surfer's Paradise </td>
          <td>12.9€</td>
        </tr>
        <hr size=1px color=white>
        <tr >
          <td>Refrescos incluidos en el menu </td>
          <td></td>
        </tr>
        <hr size=1px color=white>
      </table>
    </div>
  </div>
  <router-outlet></router-outlet>
