
#CartasDeLocal{
    font-family:'Montserrat',sans-serif;
}
.Titulo{
    width:100%;
    text-align: center;
    font-weight: bold;
    
}
.tituloCarta{
    text-align: center;
    font-weight: bold;
}

.tablaProductos{
    width:100%;
    background-color: rgb(235, 126, 126);
    margin:0px;
    padding:0%;
    display:none;
}
.atributosCarta{
    font-weight: bold;
}
#Carta{
    margin-left: 10%;
    margin-right: 10%;
}