.btn-abrir-popup {
	padding: 10px 0 20px 50px;
	margin-bottom: 40px;
	height: 40px;
	line-height: 40px;
	border: none;
	color:black;
	background: white;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
    cursor: pointer;
}

/* ------------------------- */
/* POPUP */
/* ------------------------- */

.overlay {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	justify-content: center;
	display: flex;
    visibility: hidden;
    z-index: 100;
}

.overlay.active {
	visibility: visible;
}

.popup {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	width: 600px;
    margin-top: 1%;
    margin-bottom: 1%;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
	color: #000;
}


/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	transform: scale(1); opacity: 1; }

/* ------------------------- */
/* SEARCH BAR */
/* ------------------------- */


#search-bar {
    border-radius: 10rem 0 0 10rem;
    border: none;
    height: 2.5rem;
    width: 20rem;
    background-color: #f1f1f1;
    padding: 0.4rem;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
}

#search-button {
    color: grey;
    height: 3.3rem;
    width: 5rem;
    font-size: 1rem;
    border-radius: 0 10rem 10rem 0;
    border:none;
    background-color: #45f542;
    color: black;
    opacity: 0.55;
}

#search-and-filter-container{
    display:flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}



